<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.company.totaltech">
	<uses-sdk android:minSdkVersion="21" />
	<!-- Google Maps for Android v2 requires OpenGL ES v2 -->
	<uses-feature android:glEsVersion="0x00020000" android:required="true" />
	<!-- We need to be able to download map tiles and access Google Play Services-->
	<uses-permission android:name="android.permission.INTERNET" />
	<!-- Allow the application to access Google web-based services. -->
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
	<!-- Google Maps for Android v2 will cache map tiles on external storage -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<!-- Permission to receive remote notifications from Google Play Services -->
	<!-- Notice here that we have the package name of our application as a prefix on the permissions. -->
	<uses-permission android:name="com.company.totaltech.permission.MAPS_RECEIVE" />
	<permission android:name="com.company.totaltech.permission.MAPS_RECEIVE" android:protectionLevel="signature" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<application android:label="Total Tech">
		<!-- Put your Google Maps V2 API Key here. -->
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyCv0EKZ7WxirSW0V-lrUI6zKt-8hl5QwRU" />
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
		<activity android:name="microsoft.identity.client.BrowserTabActivity">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="msal" android:host="auth" />
			</intent-filter>
		</activity>
	</application>
</manifest>